
.dropdown-menu{
    margin-right: 10px;
}
.activeLink{
    /* background-color: #d6d3d2; */
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}
nav{
    border-radius: 5px;
    background-color: #e6e6e6;
}