<div class="container">
  <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <b><a class="navbar-brand" href="#">The Recipe Book</a></b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link " aria-current="page" [routerLink]="['/recipes']" 
              routerLinkActive="activeLink"
              style="cursor: pointer;">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/shoppingList']"
              style="cursor: pointer;"
              routerLinkActive="activeLink">Shopping list</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="isAuthenticated">
            <li class="nav-item rightLinks" >
              <a class="nav-link" aria-current="page" style="cursor:pointer;" (click)="saveRecipes()">Save data to server</a>
            </li>
            <li class="nav-item rightLinks">
              <a class="nav-link" aria-current="page" style="cursor:pointer;" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>

