input.ng-invalid.ng-touched ,
 textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

.container{
    font-family: cursive;
}

@media screen and (max-width: 600px) {
    .container {
      font-family: Arial, Helvetica, sans-serif;
    }
  }

.errors{
    font-size: small;
    font-weight: lighter;
}