a{
    color: black;
    text-decoration:none;
}
.container{
    margin-left: 20px;
    font-family: cursive;
}
.recipeName{
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .container {
      font-family:Verdana, Tahoma, sans-serif
    }
  }