<div class="container">
    <h3>Your shopping list</h3><br>
        <div class="row">
            <div class="col-xs-10">
                <router-outlet></router-outlet>
                <br>
                <div *ngIf="isEmpty"><h4 style="color: red;">Add items to see here</h4></div>
                <ul class="list-group" *ngFor="let item of (ingredients|async).ingredients; let id=index">
                    <li class="border">
                        <a style="cursor: pointer;" class="list-group-item" (click)="onEditItem(id)">
                            <div class="row">
                                <div class="col-md-6">
                                    {{item.name}} ({{item.amount}})
                                </div>
                            </div>
                        </a>
                    </li>
                </ul><br>
                <button class="btn btn-outline-primary" (click)="editShoppingList()">Edit shopping list</button> &nbsp;&nbsp;
                <button class="btn btn-outline-success" (click)="download()">Download shopping list</button>
            </div>
    </div>
</div>