<div class="row">
    <div class="col-xs-10">
        <!-- <app-shopping-edit></app-shopping-edit> -->
        <router-outlet></router-outlet>
        <br>
        <ul class="list-group" *ngFor="let item of (ingredients|async).ingredients; let id=index">
            <li class="border">
                <a style="cursor: pointer;" class="list-group-item" (click)="onEditItem(id)">
                    <div class="row">
                        <div class="col-md-6">
                            {{item.name}} ({{item.amount}})
                        </div>
                    </div>
                </a>
            </li>
        </ul><br>
        <button class="btn btn-primary" (click)="editShoppingList()">Edit shopping list</button>
    </div>
</div>
